  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 500px;
    text-align: center;
  }

h1{
  margin-bottom: 20px;
}

.input-cont{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.input-field{
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn{
  background-color: #4285f4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subject-list{
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

.list-item{
  margin-bottom: 10px;
  /* border: 1px solid #ccc; */
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.subject-name{
  font-weight: bold;
  color: #4285f4;
  cursor: pointer;
}

.subject-hours{
  font-size: 14px;
  color: #666;
  margin-right: 10px;
  cursor: pointer;
  padding: 2px;
}

.remove-btn{
  background-color: #fd3e31;
  color: white;
  display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


